*.ipynb_checkpoints
Test_analysis.ipynb
__pycache__
cropped_images
*.csv
*.gsheet
exported_models
DLC_integration
model_serving
data
*.simg
examples/jupyter-notebook.sh
*.txt
examples/inference_run.sh
examples/Inference_book.ipynb
